# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
from IPython.display import HTML
from ipywidgets.embed import embed_minimal_html

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
cities = pd.read_csv("output_data/cities.csv", encoding="utf-8")
cities.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
humidity = cities["Humidity"]
max_humidity = humidity.max()
locations = cities[["Lat", "Lng"]]

In [12]:
fig = gmaps.figure(center=(20.0, 0.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, 
                                 max_intensity=max_humidity,point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_city_df = cities.loc[(cities["Max Temp"] > 65) & (cities["Max Temp"] < 70) & (cities["Cloudiness"] == 0), :]
ideal_city_df = ideal_city_df.dropna(how='any')
ideal_city_df.reset_index(inplace=True)
del ideal_city_df['index']
ideal_city_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,168,straumen,0,NO,1558378786,52,63.87,11.30,68.00,9.17
1,214,mount isa,0,AU,1558378794,56,-20.73,139.49,68.00,6.93
2,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20
3,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78
4,367,pampierstad,0,ZA,1558378859,23,-27.78,24.69,67.02,10.38
5,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
6,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_list =[]

for i in range(len(ideal_city_df)):
    lat = ideal_city_df.loc[i]['Lat']
    lng = ideal_city_df.loc[i]['Lng']

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "type": "hotel",
        "key": g_key,
    }

    response = requests.get(base_url, params=params).json()
#     pprint(response)
    try:
        hotel_list.append(response['results'][0]['name'])
    except:
        hotel_list.append("")

ideal_city_df["Hotel Name"] = hotel_list
hotel_df = ideal_city_df.dropna(how='any')
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,168,straumen,0,NO,1558378786,52,63.87,11.30,68.00,9.17,Straumen
1,214,mount isa,0,AU,1558378794,56,-20.73,139.49,68.00,6.93,Mount Isa
2,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20,Kumul
3,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78,Chiredzi
4,367,pampierstad,0,ZA,1558378859,23,-27.78,24.69,67.02,10.38,Pampierstad
5,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82,Lempäälä
6,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24,Toulon

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))